nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    background-color: var(--cor-principal);
}
nav .logo{
    width: max(138px, 10.416vw);
    height: max(36px, 5.744vh);
    margin: 0.958vh;
    margin-left: 3vw;
    margin-right: 1.5vw;
    border: 1px solid var(--cor-fundo-claro);
}
/*nav .btnspaginas{
    display: flex;
    justify-content: space-between;
    width: max(112px,8.454vw);
    height: auto;
    margin: 0.958vh 1.5vw;
}*/
nav .areadepesquisa{
    display: flex;
    width: auto;
    height: max(36px, 5.744vh);
    margin: 0.958vh 1.5vw;
}
nav .btnsopcoes{
    display: flex;
    justify-content: space-between;
    width: max(188px,14.189vw);
    height: auto;
    margin: 0.958vh;
    margin-left: 1.5vw;
    margin-right: 3vw;
}
nav .icones{
    width: max(36px, 2.718vw);
    height: max(36px, 5.744vh);
    border: 1px solid var(--cor-fundo-claro);
    border-style: solid;
    background-color: #00000000;
}

nav .dropbtn {
  background-color: #00000000;
  color: white;
  width:36px;
  height:36px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid var(--cor-fundo-claro);
}

nav .dropbtn:hover, .dropbtn:focus {
  background-color: #00000000;
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  top: 7vh;
  right: -3vw;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
a:link:active, a:visited:active {
  color: black;
}

nav .dropdown a:hover {background-color: #ddd;}

nav .show {display: block;}


nav input[type=text]{
    font-size: 16px;
    width: max(264px, 27.321vw);
    height: auto;
    color: var(--cor-sombra-clara);
    background-color: var(--cor-sombra-escura);
    border-color: var(--cor-fundo-claro);
}
nav input[type=submit]{
    width: max(36px, 2.718vw);
    height: max(36px, 5.744vh);
    font-size: 16px;
    border-top-right-radius: 18%;
    border-bottom-right-radius: 18%; 
    background-color: var(--cor-fundo-claro);
}